[submodule "ForecastNucleoFramework-test"]
	path = ForecastNucleoFramework-test
	url = https://gitlab.com/altairLab/elasticteam/ForecastNucleoFramework-test
[submodule "RPC-MbedNucleoAssignments"]
	path = RPC-MbedNucleoAssignments
	url = https://github.com/nicolamarchiotto/RPC-MbedNucleoAssignments
